<main class="w-full max-w-screen-xl mx-auto pt-[10vh] xl:pt-[14vh] px-3 2xl:px-0">
    <app-carousel />

    <div>
        <h1 class="text-[20px] md:text-[30px] font-bold text-[#ffffff] my-5">Categories</h1>
        <div class="grid grid-flow-col gap-2 overflow-x-scroll no-scrollbar">
            <button class="w-[20vh] text-[#ffffff] font-semibold bg-white/30 backdrop-blur-[10px] bg-opacity-[1] rounded-xl px-[20px] py-[10px]">All</button>
            <!-- <button class="w-[20vh] text-[#ffffff] font-semibold bg-white/30 backdrop-blur-[10px] bg-opacity-[1] rounded-xl px-[20px] py-[10px]">Category_1</button>
            <button class="w-[20vh] text-[#ffffff] font-semibold bg-white/30 backdrop-blur-[10px] bg-opacity-[1] rounded-xl px-[20px] py-[10px]">Category_2</button>
            <button class="w-[20vh] text-[#ffffff] font-semibold bg-white/30 backdrop-blur-[10px] bg-opacity-[1] rounded-xl px-[20px] py-[10px]">Category_3</button>
            <button class="w-[20vh] text-[#ffffff] font-semibold bg-white/30 backdrop-blur-[10px] bg-opacity-[1] rounded-xl px-[20px] py-[10px]">Category_3</button>
            <button class="w-[20vh] text-[#ffffff] font-semibold bg-white/30 backdrop-blur-[10px] bg-opacity-[1] rounded-xl px-[20px] py-[10px]">Category_3</button> -->
        </div>

        <app-products />
    </div>
</main>