<div class="navbar bg-[#86715B] backdrop-blur-[10px] bg-opacity-[.50] w-full fixed top-0 z-[9999]">
  <div class="w-full max-w-screen-xl mx-auto flex justify-between">
    <div class="flex items-center gap-2">
      <img src="assets/images/logos/logo.png" alt="logo" class="w-12 h-12 md:w-16 md:h-16 rounded-2xl"> 
      <h1 class="font-bold text-[#ffffff] text-center text-[20px] md:text-[30px]">ERIK BEAUTY</h1>
    </div>
    <div class="flex items-center gap-1">
      <div class="max-sm:block hidden">
        <button class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-scan w-5 h-5" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 7v-1a2 2 0 0 1 2 -2h2" />
            <path d="M4 17v1a2 2 0 0 0 2 2h2" />
            <path d="M16 4h2a2 2 0 0 1 2 2v1" />
            <path d="M16 20h2a2 2 0 0 0 2 -2v-1" />
            <path d="M5 12l14 0" />
          </svg>
        </button>
      </div>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <div class="indicator">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#ffffff">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <span class="badge badge-sm indicator-item bg-red-500">{{totalQuantity}}</span>
          </div>
        </div>
        <div
          tabindex="0"
          class="card card-compact dropdown-content bg-base-100 z-[1] mt-3 w-52 shadow">
          <div class="card-body">
            <span class="text-lg font-bold text-[#7f5345]">{{totalQuantity}} Items</span>
            <span class="text-info">Subtotal: ${{subtotal}}</span>
            <div class="card-actions">
              <a routerLink="/cart" class="btn bg-white/30 backdrop-blur-[20px] bg-opacity-[.8] text-[#7f5345] btn-block">View cart</a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Tailwind CSS Navbar component"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div> -->
    </div>
  </div>
</div>